/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  background-color: #FFF;
  font: 18px;
  font-size: small;
  text-align: center;
  font-family: "Helvetica Neue", "Helvetica-Neue", helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #0881b3; }
a:hover   { color: #21272d; }
a:visited { color: #0881b3; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
.posts {
  list-style-type: none;
}

.posts li {
  line-height: 1.75em;
}

.timestamp {
  color: #a4adb6;
  font-size: 80%;
}

.post-title {
  margin-top: 0.6em;
  margin-bottom: 0.9em;
  font-weight: bold;
  font-size: 175%;
  color: #0881b3;
}

.post-title a {
  text-decoration: none;
}

.post-preview {
  color: #21272E;
}

.continue-reading {
  text-decoration: none;
  color: #a4adb6;
  font-size: 75%;
  border-bottom: 1px solid #ededee;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
.banner {
  border-top: 5px solid #0881b3;
}

.site {
  font-size: 115%;
  text-align: justify;
  width: 100%;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.header a {
  text-decoration: none;
  font-weight: normal;
}

.title {
  margin-top: 3em;
  text-align: center;
  font-size: 200%;
}

.title a {
  color: #21272d;
  padding: 10px 0;
  border-bottom: 1px solid #E5E5E6;
}

.title a:hover {
  color: #21272d;
}

.header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.header a.extra:hover {
  color: #000;
}

.meta {
  color: #aaa;
}

.footer {
  color: #666;
  border-top: 1px solid #ededee;
  overflow: hidden;
  text-align: center;
  width: 100%;
}

.footer .contact {
  float: left;
  margin-right: 3em;
}

.footer .contact a {
  color: #8085C1;
}

.footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
li.post {
  border-top: 1px solid #ededee;
}

li.post:first-child {
  border-top: none;
}

.post {
  max-width: 940px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 4em;
}

.post pre {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eee;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 100px;
}

.badge img {
  width: 100%;
}

.comment-header {
  margin-top: 2em;
}